<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="softwaretestingmaterial">
    <test name="testngTest">
        <classes>
            <class name="liveProject.Activity1" />
            <class name="liveProject.Activity2" />
            <class name="liveProject.Activity3" />
        </classes>
    </test>
</suite>